<mat-card>
    <mat-card-header>
        <mat-card-title>
            <section class="mat-typography">
                <h1>Mes services</h1>
            </section>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <h4 matLine>Midi</h4>
                <p matLine> Jeudi 11 janvier de 12h à 14h </p>
            </mat-list-item>
            <mat-list-item>
                <h4 matLine>Début de soirée</h4>
                <p matLine> Jeudi 11 janvier de 18h à 22h </p>
            </mat-list-item>
            <mat-list-item>
                <h4 matLine>Fin de soirée</h4>
                <p matLine> Jeudi 11 janvier de 22h à 01h </p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
