<div fxLayoutAlign="center">
  <mat-card fxFlex class="max-width">
    <mat-card-content>
      <p fxLayoutAlign="center">
        Retrouvez bientôt ici le fil d'actualité (news, photos, événements, posts) de la K-App en lien avec la page facebook!
      </p>
      <p fxLayoutAlign="center">
        Pour l'instant, le plus important c'est que tu poses ton like sur la page!
      </p>
      <p fxLayoutAlign="center center">
        <mat-icon>thumb_up_alt</mat-icon>
        &nbsp;&nbsp;
        <a class="link" href="https://www.facebook.com/kfetinsalyon">https://www.facebook.com/kfetinsalyon</a>
        &nbsp;&nbsp;
        <mat-icon>thumb_up_alt</mat-icon>
      </p>
    </mat-card-content>
  </mat-card>
</div>
