<div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
        <mat-card-header>
            <mat-card-title fxLayout="row">
                <a mat-button routerLink="/templates"><mat-icon>arrow_back</mat-icon></a>
                <section  class="mat-typography">
                    <h1>Ajouter un Template</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="generalFormGroup" fxLayout="column">
               <mat-vertical-stepper formArrayName="generalFormArray" linear>
                   <mat-step formGroupName="0" [stepControl]="generalFormArray.get([0])" label="Nom du template">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <mat-form-field>
                                <input matInput placeholder="Nom du template" formControlName="templateNameFormControl" required>
                            </mat-form-field>
                        </div>
                   </mat-step>
                   <mat-step formArrayName="1" [stepControl]="generalFormArray.get([1])" label="Services">
                       <mat-accordion>
                           <div *ngFor="let serviceForm of getControls(); let i = index;" [formGroupName]="i">
                               <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title fxLayoutAlign="start center">
                                            <button mat-icon-button (click)="removeServiceForm(i)" >
                                                <mat-icon fxFlex="10px">remove</mat-icon>
                                            </button>
                                            <span class="first-letter-uppercase" *ngIf="getControls()[i].controls.startFormControl.value
                                                    && getControls()[i].controls.startDayFormControl.value
                                                    && getControls()[i].controls.endFormControl.value; else elseBlock">
                                                {{findWeekDay(getControls()[i].controls.startDayFormControl.value)}}
                                                de {{getControls()[i].controls.startFormControl.value}}
                                                à {{getControls()[i].controls.endFormControl.value}}
                                            </span>
                                            <ng-template #elseBlock>
                                                <span class="mat-error">
                                                    Service à définir !
                                                </span>
                                            </ng-template>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div fxLayout="column" fxLayoutAlign="center">
                                        <mat-form-field>
                                            <input matInput type="number" placeholder="Nombre max de barmen" min="0" formControlName="nbMaxFormControl" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-select matInput placeholder="Début de service" formControlName="startDayFormControl" required>
                                                <mat-option *ngFor="let day of WEEK_DAY" [value]="day.id">
                                                    {{ day.value }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput type="time" formControlName="startFormControl" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-select matInput placeholder="Fin de service" formControlName="endDayFormControl" required>
                                                <mat-option *ngFor="let day of WEEK_DAY" [value]="day.id">
                                                    {{ day.value }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput type="time" formControlName="endFormControl" required >
                                        </mat-form-field>
                                    </div>
                               </mat-expansion-panel>
                           </div>
                       </mat-accordion>
                       <div fxLayout="column" fxLayoutAlign="center">
                           <button fxFlexAlign="center" mat-icon-button type="button" (click)="addServiceForm(null, null, null, null, null)">
                               <mat-icon>add</mat-icon>
                           </button>
                       </div>
                   </mat-step>
               </mat-vertical-stepper>
               <button fxFlex="50" mat-button type="button" (click)="addTemplate()"
                [disabled]="!generalFormGroup.valid || !getControls()[0]">Créer le template</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
