<div fxLayoutAlign="center">
    <mat-card fxFlex="450px" fxFlex.lt-sm="95">
        <mat-card-header>
            <mat-card-title fxLayout="row">
                <a mat-button routerLink="/templates"><mat-icon>arrow_back</mat-icon></a>
                <section  class="mat-typography">
                    <h1>Ajouter un Template</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="templateForm" fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Nom du template" formControlName="name">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</div>
