.link-menu {
  background-color: white;
  color: black;
  border: 5px solid #4CAF50;
  border-radius: 10px;
  width: 20%;
  min-height: 100px;
  padding: 10px 80px;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  display: inline-table;
  margin: 20px;
  vertical-align: middle
}

.container {
  text-align: center;
}
