@import "../../../theme.scss";

.mat-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px 80px;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  display: inline-table;
  margin: 20px;
  cursor: pointer;
  width: 25%;

  @media (max-width: 877px) {
    width: 50%;
  }
}

.mat-card-title{
  line-height: 50px;
}

.container {
  text-align: center;
}

