.img {
  margin-bottom: 18%;
  width:50%;
  height:50%;
}
.container {
  min-height: 100%;
  width: 100%;
  flex-flow: row wrap;
}
.card-picture {
  width: 20%;
  margin-bottom: 2%;
  height: 200px;
  border: solid black;
  border-radius: 10px;
}

.search-form {
  width: 90%;
}

.mat-card-image {
  width:50%;
}

.mat-expansion-panel {
  margin-bottom: 5px;
}
