<h2 mat-dialog-title>Réinitialiser le mot de passe</h2>
<mat-dialog-content fxLayout="column">
    <p>Veuillez indiquer votre adresse email:</p>
    <form [formGroup]="resetForm" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
            <input matInput placeholder="Adresse email" formControlName="emailFormControl">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
    <button mat-button [mat-dialog-close]="false">
        Non
    </button>
    <button mat-button [mat-dialog-close]="resetForm.get('emailFormControl').value"
        [disabled]="!resetForm.valid">
        Réinitialiser
    </button>
</mat-dialog-actions>
