.home {
  font-family: "MedievalSharp", cursive;
  font-size: large;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-container {
  flex: 1;
  position: relative;
}

.content {
  padding: 16px 20px 10px 20px;
}

.connected-user-information {
  padding: 0 20px 0 20px;
}
