<div fxLayoutAlign="center">
    <mat-card fxFlex="450px" fxFlex.lt-sm="95">
        <mat-card-header>
            <mat-card-title>
                <section class="mat-typography">
                    <h1>Modifier un compte spécial</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h3>Mise à jour des informations</h3>
            <form [formGroup]="specialAccountForm" fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Username (must be an email)" formControlName="username">
                </mat-form-field>
                <h4>Permissions</h4>
                <div *ngFor="let permission of permissions">
                    <mat-checkbox [(ngModel)]="permission.isChecked" [ngModelOptions]="{standalone: true}">
                        {{permission.permission.name}}
                    </mat-checkbox>
                </div>
                <div fxLayoutAlign="center">
                    <button fxFlex="50" mat-button type="button" (click)="openDialog()"
                            [disabled]="disable()">Modifier</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
