<div fxLayoutAlign="center">
    <mat-card fxFlex="450px" fxFlex.lt-sm="95">
        <mat-card-header>
            <mat-card-title>
                <section class="mat-typography">
                    <h1>Ajouter un compte spécial</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="specialAccountForm" fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Username (must be an email)" formControlName="username">
                </mat-form-field>
                <mat-form-field *ngFor="let permission of permissions">
                    <mat-checkbox [(ngModel)]="permission.isChecked">{{permission.permission.name}}</mat-checkbox>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</div>
