<mat-card>
    <mat-card-header>
        <mat-card-title>
            <section class="mat-typography">
                <h1>Planning</h1>
            </section>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div fxFlex="{{100/days.length}}" fxLayoutAlign="center" *ngFor="let day of days">
                <button mat-fab color="primary" (click)="day.active ? null : updateServicesDetails(day)"
                [color]="day.active ? 'accent' : 'primary'">
                    {{day.name}}
                </button>
            </div>
        </div>
        <div>
            <mat-list>
                <mat-list-item *ngFor="let service of services">
                    <h4 matLine>{{service.category.name}}</h4>
                    <p matLine>
                        <span *ngFor="let barman of service.barmen">{{barman.surname}}</span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>
