<mat-card>
    <mat-card-header>
        <mat-card-title>
            <section class="mat-typography">
                <h1>Planning</h1>
            </section>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div fxFlex="{{100/days.length}}" fxLayoutAlign="center" *ngFor="let day of days">
                <button mat-fab color="primary" (click)="day.active ? null : updateDayDetails(day)"
                [color]="day.active ? 'accent' : 'primary'">
                    {{day.name}}
                </button>
            </div>
        </div>
        <div>
            <mat-list *ngIf="categories">
                <mat-list-item *ngFor="let category of categories">
                    <h4 matLine>{{category.name}}</h4>
                    <p fxFlexOffset="5px" matLine *ngFor="let service of category.services">
                        De {{service.startAt | date:'H'}}h à {{service.endAt | date:'H'}}h<br />
                        <span *ngIf="service.barmen" class="mat-caption">Avec <span ngFor="let barman of service.barmen">{{barman.nickname}}</span></span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>
