<mat-card>
    <mat-card-header>
        <mat-card-title>
            <section class="mat-typography">
                <h1>Planning</h1>
            </section>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
            <div fxFlex="{{100/days.length}}" fxLayoutAlign="center" *ngFor="let day of days">
                <button mat-fab color="primary" (click)="day.active ? null : updateDayDetails(day)"
                [color]="day.active ? 'accent' : 'primary'">
                    {{day.name}}
                </button>
            </div>
        </div>
        <div>
            <mat-list *ngIf="dayServices">
                <mat-list-item *ngFor="let service of dayServices">
                    <span mat-line>
                        De {{service.startAt | date:'H'}}h à {{service.endAt | date:'H'}}h
                    </span>
                    <span mat-line style="white-space: normal;" *ngIf="service.barmen" class="mat-caption">
                        Avec <span *ngFor="let barman of service.barmen; let idx = index">{{barman.nickname}}<span *ngIf="service.barmen.length != (idx+1)">, </span>
                    </span>
                    </span>
                    <span mat-line *ngIf="!service.barmen" class="mat-caption">
                        Aucun barmen pour le moment...
                    </span>
                </mat-list-item>
            </mat-list>
            <p *ngIf="!dayServices">
                Aucun service n'est possible pour la semaine pour l'instant. L'administrateur n'a 
                surement pas encore ouvert les services pour cette semaine.
            </p>
        </div>
    </mat-card-content>
</mat-card>
