<div>
  <section class="mat-typography">
    <h1>Liste des adhérents</h1>
  </section>
  <mat-form-field>
    <input matInput placeholder="Rechercher dans les membres" #input>
  </mat-form-field>
  <button mat-stroked-button [routerLink]="[ {outlets: { modal: 'newmember' } } ]">Nouveau</button>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom - Nom</mat-header-cell>
      <mat-cell *matCellDef="let member">{{member.firstName}} {{member.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="school">
      <mat-header-cell *matHeaderCellDef>École</mat-header-cell>
      <mat-cell *matCellDef="let member">{{member.school}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let member;">
        <div fxLayout="row">
          <button mat-icon-button (click)="register(member)"
                  [disabled]="isRegistered(member)"
                  *ngxPermissionsOnly="['v1:core:members:register']">
            <mat-icon>person_add</mat-icon>
          </button>
          <button mat-icon-button (click)="edit(member)" *ngxPermissionsOnly="['v1:core:members:update']">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator></mat-paginator>
</div>
