<div class="list">
  <div class="list-header"
       fxLayout="row"
       fxLayout.xs="column"
  >
    <h1 class="mat-headline title">Liste des adhérents</h1>
    <div fxFlex class="new-button">
      <button mat-stroked-button [routerLink]="[ {outlets: { modal: 'newmember' } } ]">Nouveau</button>
    </div>
  </div>
  <div *ngxPermissionsOnly="['v1:core:members:count']" class="mat-small">
    {{totalRegistered}} membres inscrits cette année
  </div>

  <div fxLayout="row"
       fxLayout.xs="column"
  >
    <mat-form-field appearance="outline" class="filter-field" fxFlex.gt-xs="30">
      <mat-label>Rechercher dans les membres</mat-label>
      <input matInput autofocus #input>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Statut</mat-label>
      <mat-select [(value)]="selectedStatus" (selectionChange)="loadMembersPage()">
        <mat-option value="active">Actif</mat-option>
        <mat-option value="inactive">Inactif</mat-option>
        <mat-option>--</mat-option>
      </mat-select>
    </mat-form-field>
    <span fxFlex.gt-xs></span>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex.gt-md="60" class="table-spinner-container with-paginator">
      <div class="table-spinner" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <table mat-table
             [dataSource]="dataSource"
             matSort
             matSortActive="updatedAt"
             matSortDirection="desc"
             matSortDisableClear
             fxFlex
      >
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</mat-header-cell>
          <mat-cell *matCellDef="let member">{{member.firstName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
          <mat-cell *matCellDef="let member">{{member.lastName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="school">
          <mat-header-cell *matHeaderCellDef>École</mat-header-cell>
          <mat-cell *matCellDef="let member">{{member.school}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Dernière activité</mat-header-cell>
          <mat-cell *matCellDef="let member">{{member.updatedAt | date:'d LLLL yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let member;">
            <div fxLayout="row">
              <button mat-icon-button (click)="register(member)"
                      [disabled]="isRegistered(member)"
                      *ngxPermissionsOnly="['v1:core:members:register']">
                <mat-icon>person_add</mat-icon>
              </button>
              <button mat-icon-button
                      [routerLink]="[ {outlets: { modal: [member._id, 'edit'] } } ]"
                      *ngxPermissionsOnly="['v1:core:members:update']">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
      <mat-paginator
        class="hide-paginator-total"
        [length]="dataSource.total"
        [pageSize]="dataSource.pageSize"
        [pageSizeOptions]="[10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
