<mat-sidenav-container id="main-menu" fxFlex="100">
    <mat-sidenav #sidenav id="main-menu-sidenav">
      <mat-nav-list>
        <mat-list-item>
          Lien 1
        </mat-list-item>
        <mat-list-item>
          Lien 2
        </mat-list-item>
        <mat-list-item>
          Lien 3
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span id="fill-remaining-space"></span>
      <span>La Konchita</span>
    </mat-toolbar>
</mat-sidenav-container>
