.button-container {

  .animated-button {
    overflow-x: hidden;
    animation: cubic-bezier(1, .21, .62, .97) smoothEntry 2s;
  }
}

@keyframes smoothEntry {

  0% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}
