<div fxLayoutAlign="center">
    <mat-card fxFlex="450px" fxFlex.lt-sm="95">
        <mat-card-header>
            <mat-card-title>
                <section class="mat-typography">
                    <h1>Ouvrir les services</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="generalFormGroup" fxLayout="column">
                <mat-vertical-stepper formArrayName="generalFormArray" linear>
                    <mat-step formGroupName="0" [stepControl]="generalFormArray.get([0])" label="Template">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <mat-form-field>
                                <mat-select placeholder="Template" formControlName="templateSelectorFormControl" 
                                    [(ngModel)]="selectedTemplate" name="template">
                                    <mat-option *ngFor="let template of templates" [value]="template">
                                        {{ template.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-step>
                    <mat-step formArrayName="1" [stepControl]="generalFormArray.get([1])" label="Services">
                        <ng-template matStepLabel>
                            Services du {{ getFirstServiceDate() | date:'EEEE d LLLL':'':'fr' }} 
                            au {{ getLastServiceDate() | date:'EEEE d LLLL':'':'fr' }}
                        </ng-template>
                        <mat-accordion>
                            <div *ngFor="let serviceForm of getControls(); let i = index;" [formGroupName]="i">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title fxLayoutAlign="start center">
                                            <button mat-icon-button (click)="removeServiceForm(i)" >
                                                <mat-icon fxFlex="10px">remove</mat-icon>
                                            </button>
                                            <span *ngIf="getControls()[i].controls.startAtFormControl.value">
                                                {{ getControls()[i].controls.startAtFormControl.value | date:'EEEE':'':'fr' }}
                                                de {{ getControls()[i].controls.startAtFormControl.value | date:'H' }}h
                                                à {{ getControls()[i].controls.endAtFormControl.value | date:'H' }}h
                                            </span>
                                            <ng-template #elseBlock>
                                                Non défini...
                                            </ng-template>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div fxLayout="column" fxLayoutAlign="center">
                                        <mat-form-field>
                                            <input type="number" matInput placeholder="Nombre maximum" formControlName="nbMaxFormControl" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-placeholder>Début du service</mat-placeholder>
                                            <mat-datetimepicker-toggle [for]="startDatetimePicker" matSuffix></mat-datetimepicker-toggle>
                                            <mat-datetimepicker #startDatetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                            <input matInput formControlName="startAtFormControl" [matDatetimepicker]="startDatetimePicker" required autocomplete="false">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-placeholder>Fin du service</mat-placeholder>
                                            <mat-datetimepicker-toggle [for]="endDatetimePicker" matSuffix></mat-datetimepicker-toggle>
                                            <mat-datetimepicker #endDatetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                            <input matInput formControlName="endAtFormControl" [matDatetimepicker]="endDatetimePicker" required autocomplete="false">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>
                            </div>
                        </mat-accordion>
                        <div fxLayout="column" fxLayoutAlign="center">
                            <button fxFlexAlign="center" mat-icon-button type="button" (click)="addServiceForm(null, null, null, null)" >
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
                <button fxFlex="50" mat-button type="button" (click)="createServices()" 
                [disabled]="!generalFormGroup.valid">Créer les services</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
