<div fxLayoutAlign="center">
    <mat-card fxFlex="450px" fxFlex.lt-sm="95">
        <mat-card-header>
            <mat-card-title>
                <section class="mat-typography">
                    <h1>Ajouter une catégorie de service</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #connexionForm="ngForm" fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Nom de la categorie"
                    autocorrect="off" required [(ngModel)]="name" name="name">
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                    Nom <strong>requis</strong>
                    </mat-error>
                </mat-form-field>
                <div fxLayoutAlign="center">
                    <button fxFlex="50" mat-button type="button" (click)="add()" 
                    [disabled]="!connexionForm.valid">Ajouter</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
