<div fxLayoutAlign="center">
    <mat-card fxFlex class="max-width">
        <mat-card-header>
            <mat-card-title fxLayout="row">
                <section class="mat-typography">
                    <h1>THE Home page</h1>
                </section>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column">
                <div fxLayoutAlign="center">
                    <img src="./assets/logo.png">
                </div>
                <p>
                    La K-Fêt de l'INSA Lyon n'est pas à confondre avec une cafétéria ou autre restaurant universitaire. 
                    Il s'agit en effet d'un bar étudiant où les Insaliens se retrouvent pour se poser, se reposer, 
                    discuter, fêter, boire, dormir, manger, écouter de la musique, jouer au babyfoot ou au billard...
                </p>
                <p>
                    La K-Fêt c'est un endroit incontournable, incroyable qu'il ne faut absolument pas rater si tu es dans les environs.
                </p>
                <div *ngIf="!isConnected()" fxLayoutAlign="center">
                    <button mat-raised-button color="primary" routerLink="/login">Se connecter</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
