<app-modal #dialog [config]="{width: '400px'}">
  <form [formGroup]="formGroup" fxLayout="column" class="form-field-block">
    <h2 mat-dialog-title>Ajouter un adhérent</h2>
    <mat-dialog-content fxLayout="column">
      <dynamic-material-form [group]="formGroup" [model]="model"></dynamic-material-form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="dialog.close()">Annuler</button>
      <button mat-button (click)="dialog.close('create')" [disabled]="!formGroup.valid && !formGroup.dirty">
        Créer
      </button>
    </mat-dialog-actions>
  </form>
</app-modal>
