[Unit]
Description=Schedule of a backup of the k-app staging database

[Service]
Type=oneshot
WorkingDirectory=/srv/kapp-staging
ExecStart=npm run cli backup
