[Unit]
Description=Schedule of a backup of the k-app staging database

[Service]
Type=oneshot
WorkingDirectory=/srv/kapp-staging
ExecStart=/usr/bin/npm run cli backup
