<mat-nav-list [style.paddingTop.px]="0">
  <mat-list [style.paddingTop.px]="0">
    <ng-container *ngFor="let subMenu of menu">
      <ng-container *ngIf="isVisible(subMenu)">
        <h3 mat-subheader *ngIf="subMenu.name">{{subMenu.name}}</h3>
        <div *ngFor="let link of subMenu.links" (click)="sidenavQuery.matches ? snav.toggle() : null">
          <a mat-list-item routerLink="{{link.route}}" *ngxPermissionsOnly="link.permissions">{{link.name}}</a>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </ng-container>
  </mat-list>
</mat-nav-list>
