<div class="body-container" [class.is-mobile]="mobileQuery.matches">
	<mat-toolbar color="primary" class="toolbar" fxLayout="row" fxLayoutAlign="start center">
		<button mat-icon-button (click)="snav.toggle()" *ngIf="!user.isGuest()"><mat-icon>menu</mat-icon></button>
		<h1 fxFlex fxFlexOffset="15px">K-App</h1>
        <mat-menu #personnalInformation="matMenu" [overlapTrigger]="false">
			<div *ngIf="user?.barman" class="connectedUserInformation">
				<h4>Compte Barman {{user.barman.nickname}}</h4>
				<p>Membre depuis le {{user.barman.createdAt | date:'d LLLL yyyy':'':'fr'}}</p>
				<div fxLayoutAlign="end">
					<a mat-raised-button routerLink="/barmen/{{user.barman.id}}/edit">Modifier mes informations</a>
				</div>
			</div>
			<div *ngIf="user?.specialAccount" class="connectedUserInformation">
				<h4>Compte spécial {{user.specialAccount.connection.username}}</h4>
				<p>Membre depuis le {{user.specialAccount.createdAt | date:'d LLLL yyyy':'':'fr'}}</p>
				<div fxLayoutAlign="end">
					<a mat-raised-button routerLink="/specialaccounts/{{user.specialAccount.id}}">Modifier mes informations</a>
				</div>
			</div>
        </mat-menu>
        <button *ngIf="!user.isGuest()" mat-icon-button [matMenuTriggerFor]="personnalInformation">
            <mat-icon class="example-icon">person</mat-icon>
        </button>
		<button type="button" mat-icon-button (click)="logout()" *ngIf="!user.isGuest()">
			<mat-icon>power_settings_new</mat-icon>
		</button>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav #snav [mode]="sidenavQuery.matches ? 'over' : 'side'"
		[fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">
			<mat-nav-list [style.paddingTop.px]="0">
				<mat-list [style.paddingTop.px]="0">
					<div *ngFor="let subMenu of menu">
						<div *ngxPermissionsOnly="subMenu.permissions">
							<h3 mat-subheader *ngIf="subMenu.name">{{subMenu.name}}</h3>
							<div *ngFor="let link of subMenu.links" (click)="sidenavQuery.matches ? snav.toggle() : null">
								<a mat-list-item routerLink="{{link.route}}">{{link.name}}</a>
							</div>
							<mat-divider></mat-divider>
						</div>
					</div>
				</mat-list>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content [style.marginTop.px]="mobileQuery.matches ? 20 : 28">
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
