// Allow www-data to manage kapp.service;
// fall back to implicit authorization otherwise.
polkit.addRule(function(action, subject) {
  if (action.id !== "org.freedesktop.systemd1.manage-units") return;

  polkit.log("action=" + action);
  polkit.log("subject=" + subject);

  // Add more variants if needed
  var SERVICES = [
    "staging"
  ];

  // Pattern to match any services related to the kapp like kapp-staging or any other variant.
  var pattern = RegExp("kapp(-(" + SERVICES.join("|") + "))?@(\\d){2,4}\\.service");

  if (subject.user === "www-data" && pattern.test(action.lookup("unit"))) {
    var verb = action.lookup("verb");
    if (verb == "start" || verb == "stop" || verb == "restart") {
      return polkit.Result.YES;
    }
  }
});
