<h2 mat-dialog-title>Réinscription - Mise à jour</h2>
<mat-dialog-content fxLayout="column">
    <p>L'école renseignée n'est pas valide, veuillez la mettre à jour.</p>
    <form [formGroup]="schoolForm" fxLayout="column" fxLayoutAlign="center">
      <mat-form-field>
        <input type="text" placeholder="École" matInput formControlName="school" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let school of filteredSchools | async" [value]="school">
            {{school}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="schoolForm.controls.school.hasError('required')">
          École <strong>requise</strong>
        </mat-error>
        <mat-error *ngIf="schoolForm.controls.school.hasError('invalidSchool')">
          L'école doit être dans la liste proposée
        </mat-error>
      </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
    <button mat-button [mat-dialog-close]="false">
      Non
    </button>
    <button mat-button [mat-dialog-close]="schoolForm.get('school').value"
      [disabled]="!schoolForm.valid">
      Valider
    </button>
</mat-dialog-actions>
